#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;  
    margin-top:20px;  
    margin-left: -2px;  
                
    }
    #customers td, #customers th {
    border: 1px solid black;
    padding: 8px;
    text-align: center; 
         
    }
    #customers tr{background-color: white;}
    /* #customers tr:hover {background-color: #ddd;} */
    #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #dddddd;
    color: black;
    }    
    a{
    text-decoration: none;
    }
    .h{
      margin-top: 150px;
      text-align:center;
    }   
    .text{
      margin-top: 10px;  
      width:300px;   
      height:40px;  
      border-radius: 10px;
      margin-left: 15px;  
      font-family: Arial, Helvetica, sans-serif;  
      font-size: 16px;  
    }
    .success{
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      text-align: center     
    } 
    .failure{
      background-color: #f44336; /* Red */
      border: none;
      color: white;
      padding: 10px 22px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;     
    }  
      .success:hover{
      cursor: pointer;
     } 
      .failure:hover{
      cursor: pointer;
     }   
     .scroll{
    overflow: auto;
     }